/* link to first icon: <a href="https://iconscout.com/icons/location" target="_blank">Location Icon</a> by <a href="https://iconscout.com/contributors/jemismali">Jemis Mali</a> on <a href="https://iconscout.com">IconScout</a>
link to second icon: <a href="https://iconscout.com/icons/toast" target="_blank">Toast Icon</a> by <a href="https://iconscout.com/contributors/pause08">Notachai Plukjaisuea</a> on <a href="https://iconscout.com">IconScout</a>;
link to third icon: <a href="https://iconscout.com/icons/pinata" target="_blank">Pinata Icon</a> by <a href="https://iconscout.com/contributors/phonlaphat-thongsriphong" target="_blank">PHATPLUS</a> 
link to fourth icon: <a href="https://iconscout.com/icons/coffee" target="_blank">Coffee Icon</a> by <a href="https://iconscout.com/contributors/iconscout">IconScout Store</a> on <a href="https://iconscout.com">IconScout</a>
Link to fifth icon: <a href="https://iconscout.com/icons/mexico" target="_blank">Mexico Icon</a> by <a href="https://iconscout.com/contributors/just-icon" target="_blank">Just Icon</a>*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

* {
	box-sizing: border-box;
}

body {
	background-color: whitesmoke;
}

h1 {
	display: block;
	font-family: Trebuchet MS, sans-serif;
	text-align: center;
	color: red;
	margin-left:20px;
	margin-right: 20px;
}

h4 {
	font-family: Trebuchet MS, sans-serif;
	text-align: center;
}

h6 {
	font-family: Trebuchet MS, sans-serif;
	text-align: center;
	margin-bottom:20px;
}

.icon-descriptions {
	padding-left: 10%;
	padding-right: 10%;
}

.description {
	background-color: lightgreen;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-style: solid;
	font-family: Courier, monospace;
}

.photos {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	/*max-width: 90%;
	max-height: auto;
	margin-top: 20px;
	margin-left:20px;
	margin-right: 20px; */
	border-style: solid;
	align-items: center;

}

.icon {
	display: block;
	max-width: 50%;
	max-height: auto;
	border-style: solid;
	margin: 20px;
	align-items: left;
}


figcaption {
	text-align: center;
	font-family:Trebuchet MS, sans-serif;

}

.textlink {
	background-color: lightgreen;
}

@media(min-width: 681px) {

.container1 {
	display: flex;
}

.container2 {
	display: flex;
}

.container3 {
	display: flex;
}

.container4 {
	display: flex;
}

.container5 {
	display: flex;
}

.photos {
	max-width: 60%;
	max-height: auto;
}

.description {
	font-size: 20px;
}
}
